rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
      allow create: if request.auth.uid == userId;
    }

    match /companies/{companyId} {
      allow read: if request.auth.uid != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.companyId == companyId;
      allow update: if request.auth.uid == get(/databases/$(database)/documents/companies/$(companyId)).data.ownerId;
      allow create: if request.auth.uid != null && request.resource.data.ownerId == request.auth.uid;
    }
  }
}
